{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

    <h2>Форма для зміни даних профілю</h2>
    <hr>
    {% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}