{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

    <h2>Форма для реєстрації</h2>
    <hr>
    {% include "@FOSUser/Registration/register_content.html.twig" %}
    <br>
    <a href="{{ path("hwi_oauth_service_redirect", {service: "facebook"}) }}">Login with Facebook</a>
{% endblock fos_user_content %}
