{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

    <h2>Форма для реєстрації</h2>
    <hr>
    {% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
