{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

    <h2>Форма для зміни пароля</h2>
    <hr>
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
