{% extends "::base.html.twig" %}

{% block content %}

    <h3>Останні опубліковані записи</h3>
    <br>
    <table class="table">
        <tbody>
        {% for post in posts %}
            <tr>
                <td class="col-md-2">{{ post.publishedOn | date('Y-m-d')}}</td>
                <td>
                    <div>
                        <a href="{{ path('post_show', {'slug': post.slug}) }}">{{ post.title|upper }}</a>

                    </div>
                    <div>
                        {{ post.beginning | trim('.') | add_ellipsis }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Нові фотоальбоми</h3>

{% endblock %}
