{% extends "::base.html.twig" %}

{% block content %}

    <h3>
        <p>Останні опубліковані пости</p>
        <br>
        {% include "OlenazaBlogBundle:post:_partials_posts_list.html.twig" %}

        <p>Нові фотоальбоми</p>
    </h3>
{% endblock %}
