{% extends "::base.html.twig" %}

{% block content %}

    {% include "OlenazaBlogBundle::_partials_edit_buttons.html.twig" %}

    <h3>Інформація про автора</h3>

    <p>{{ info | default('Інформація про автора покищо відсутня') }}</p>
{% endblock %}
