{% extends "::base.html.twig" %}

{% block title %}Подорожі{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>Подорожі</h1>

    {% if tag is defined %}
        <p>за тегом {{ tag.name }}</p>
    {% endif %}
    <hr>

    {% include "OlenazaBlogBundle:post:_partials_posts_list.html.twig" %}
{% endblock %}
