{% extends "::base.html.twig" %}

{% block title %}Подорожі{% endblock %}

{% block content %}

    <h2>Подорожні нотатки</h2>
    <h4>
        {{ wo_render_breadcrumbs({separator: ''}) }}
    </h4>
    <hr>

    {% include "OlenazaBlogBundle:post:_partials_posts_list.html.twig" %}
{% endblock %}
