{% extends "::base.html.twig" %}

{% block title %}Подорожі{% endblock %}

{% block content %}

    <h2>Подорожні нотатки</h2>
    <h3>
        {% if tagName is defined %}
            <p>за тегом {{ tagName }}</p>
        {% else %}
            {{ wo_render_breadcrumbs() }}
        {% endif %}
    </h3>
    <hr>

    {% include "OlenazaBlogBundle:post:_partials_posts_list.html.twig" %}
{% endblock %}
