{% extends "::base.html.twig" %}

{% block title %}Подорожі{% endblock %}

{% block content %}

    <h1>Створи новий тег</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
